body{
	width: 800px;
	height: auto;
	margin: 0 auto;
	
}

#first_div{
	width: 800px;
	height: 150px;
	background-color: rgb(86, 136, 140);
}

#first_inside_div{
	width: 780px;
	height: 128px;
	background-color: #f1f8f8;
	position: relative;
	top: 10px;
	left: 10px;
}

#logo{
	width: 400px;
	height: 130px;
	position: relative;
	left: -13px;
}

#tagline{
    font-family: "KodchiangUPC";
	color: black;
	font-weight: bold;
	font-style: italic;
	font-size: 40px;
	position: relative;
	top: -80px;
	left: 330px;  
}

#second_div{
	width: 800px;
	height: 70px;
	background-color:#b3ced0;
	position: relative;
	top: 40px;
}

#second_inner_div{
	width: 780px;
	height: 55px;
	background-color:#56888c;
	position: relative;
	top: 8px;
	left: 10px;
}

#hint{
	width: 150px;
	height: 10px;
	position: relative;
	top: 52px;
	left: 450px;
}

#third_div {
	width: 800px;
	height: 850px;
	background-color: #b3ced0;
}

#third_inner_div{
	width: 780px;
	height: 800px;
	background-color:#56888c;
	position: relative;
	top: 35px;
	left: 10px;
}

#footer{
	width: 800px;
	height: 100px;
	background-color: #b3ced0;
	position: relative;
	top: 15px;
	margin-bottom: 20px;
}

#inside_footer{
	width: 780px;
	height: 80px;
	background-color: #56888c;
	position: relative;
	left: 10px;
	top: 10px;
}
